.two {
  border: solid 2px transparent;
  background-image: linear-gradient(cyan, yellow), linear-gradient(red, blue);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.box {
  border-radius: 20px;
  margin: 20px;
}

.text-green {
  color: green;
}

.text-blue {
  color: blue;
}

.max-h-400 {
  max-height: 400px;
}

.custom_bg {
  border-right: 2px solid black;
  /* border-radius: 5px; */
  padding: 9px 20px;
  color: white;
}
.mw-500 {
  max-width: 200px;
  max-height: 200px;
}
.one {
  background-color: blue;
}

.twoo {
  background-color: brown;
}

.three {
  background-color: green;
}

.four {
  background-color: purple;
}

.five {
  background-color: red;
}

.text-green {
  color: rgb(62, 195, 84);
}
.fill_blue svg path {
  fill: blue;
}
.upload_img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.normal_box {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input_card {
  border-radius: 20px;
  border: 1px solid blue;
  padding: 20px;
}
.input_card div {
  padding: 20px 0 0 0;
}
.input_card label {
  display: block;
}
.input_card input {
  display: block;
  border: none;
  width: 100%;
  border-bottom: 1px solid blue;
}
input:focus {
  outline: none;
}
.submit_btn {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
}
.open_eye {
  position: absolute;
  top: 0px;
  right: 0;
}
