.two {
  border: solid 2px transparent;
  background-image: linear-gradient(cyan, yellow), linear-gradient(red, blue);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.box {
  border-radius: 20px;
  margin: 20px;
}

.text-green {
  color: green;
}

.text-blue {
  color: blue;
}

.max-h-400 {
  max-height: 400px;
}

.custom_bg {
  border-right: 2px solid black;
  /* border-radius: 5px; */
  padding: 9px 20px;
  color: white;
}
.mw-500 {
  max-width: 200px;
  max-height: 200px;
}
.one {
  background-color: blue;
}

.twoo {
  background-color: brown;
}

.three {
  background-color: green;
}

.four {
  background-color: purple;
}

.five {
  background-color: red;
}

.text-green {
  color: rgb(62, 195, 84);
}
.fill_blue svg path {
  fill: blue;
}
.upload_img {
  width: 500px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
